/*============================================================================================*/
/* Start Style For All File */
/*============================================================================================*/
@font-face {
    font-family: 'DIN-REGULAR';
    src: url('../fonts/web-fonts/DIN REGULAR.otf');
}

@font-face {
    font-family: 'DIN-MEDIUM';
    src: url('../fonts/web-fonts/DIN MEDIUM .otf');
}

@font-face {
    font-family: 'DIN-BOLD';
    src: url('../fonts/web-fonts/DIN BOLD.otf');
}

* {
    margin: 0;
    list-style: none;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.container-fluid {
    margin: 0;
}

.active {
    display: block;
}

.hidden {
    display: none;
}

.col {
    margin-bottom: 20px;
}

.card {
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    border: none;
    overflow: hidden;
    box-shadow: 0 10px 40px 0 rgba(18, 106, 211, .07), 0 2px 9px 0 rgba(18, 106, 211, .06);

}


a {
    text-decoration: none;
    color: inherit;
    font-family: 'DIN-REGULAR', sans-serif;

}

a:hover {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DIN-BOLD', sans-serif;

}


body {
    direction: rtl;
    color: #999;
    background-color: #F4F7F6;

    font-family: 'DIN-MEDIUM' !important;
}

/*============================================================================================*/
/* End Style For All File */
/*============================================================================================*/


/*============================================================================================*/
/* Start Nav Style */
/*============================================================================================*/
.nav {
    /*background-image: radial-gradient(circle 981px at 14.6% 17.7%, rgba(255, 101, 91, 0.85) 2.7%, rgba(121, 32, 82, 0.78) 97.2%);*/
    /*border-radius: 15px 15px 0 0;*/
    background: #9933cc;
    padding: 20px 8px;
    margin-bottom: 25px;
    position: sticky;
    top: 0;
    color: #fff;
    z-index: 9999;

}

.nav .user-icons {
    display: flex;
    justify-content: flex-end;

}

.nav .user-icons ul {
    margin: 0;
    display: flex;
    align-items: baseline;
}

.nav .user-icons .user-icons-list li {
    color: rgba(255, 255, 255, .9);
    position: relative;
}

.nav .user-icons .user-icons-list li > i {
    background-color: rgba(197, 202, 208, 0.5);
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    margin: 0 2px;
    cursor: pointer;


}

.nav .user-icons .user-icons-list li > span {
    background-color: #ef3144;
    text-align: center;
    position: absolute;
    z-index: 666;
    top: -9px;
    left: 0px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;

}

.nav .user-icons .user-name {

    background-color: rgba(197, 202, 208, 0.5);
    margin: 0 10px;
    min-width: 40px;
    border-radius: 8px;
    padding: 8px 28px;
    position: relative;
    cursor: pointer;

}

.nav .user-icons .user-name i, .nav .user-icons .user-name span {
    margin-right: 3px;
    text-align: center;
    margin: auto;

}



.nav .user-icons .user-name .user-settings {
    min-height: auto;
    min-width: 260px;
    border-radius: 12px;
    background-color: #fff;
    position: absolute;
    text-align: right;

    top: 45px;
    left: 6px;
    z-index: 9999;
    display: none;
}


.nav .user-icons .user-name .user-settings ul {
    padding: 12px;
    display: block;
}

.nav .user-icons .user-name .user-settings li {
    display: block;
    padding: 15px 15px;
    color: #555;
}

.nav .user-icons .user-name .user-settings li:hover {
    background-color: #dddddd;
    border-radius: 8px;
}


.nav .icon-login {
    position: relative;
}
.nav .btn-login {

    background-color: rgba(197, 202, 208, 0.5);
 padding: 7px 19px;
    border-radius: 8px;
    cursor: pointer;
}

.nav .icon-login .login-form {
    min-height: auto;
    min-width: 360px;
    border-radius: 12px;
    min-height: auto;
    min-width: 260px;
    padding: 15px 25px;
    position: absolute;
    top: 56px;
    left: 50%;
    z-index: 9999;
    color: #792052;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    z-index: 9999;
    display: none;

}



.nav .login-form .login-heading {
    text-align: center;
    margin: 0 0 25px 0;
    font-size: 1.5em;
    font-family: DIN-BOLD;
}

.nav .login-form .input-group {
    margin-bottom: 15px;
    width: 300px;

}

.nav .login-form .input-group span.input-group-text {
    border-radius: 0 8px 8px 0;
    background-color: #fff;
    width: 100%;
    color: #792052;
    border: 1px solid #792052;

}

.nav .login-form .input-group input {
    border: 1px solid #dddddd;
    border-radius: 8px 0 0 8px;
    border-right: 0;
    padding: 25px 10px;
    transition: all .3s ease-in-out;


}

.nav .login-form .input-group input:focus {
    border: 1px solid #792052;
    border-right: 0;
    box-shadow: none;

}

.nav .login-form .input-group .input-group-prepend {
    border: 0;

}


.nav .login-form ::placeholder {
    padding: 0 !important;
    font-size: .95em;
    text-align: right;
    color: #9a9a9a;
}

.nav .login-form #login-btn {
    padding: 12px 18px;
    width: 100%;
    /* border: 1px solid; */
    border: none;
    background-image: radial-gradient(circle 981px at 14.6% 17.7%, rgba(255, 101, 91, 0.85) 2.7%, rgba(121, 32, 82, 0.78) 97.2%);
    border-radius: 10px;
    color: #fff;
}

.nav .login-form .create-new {
    text-align: center;
    font-weight: 400;
    margin: 10px 0;
    font-size: .9em;
}

.nav .login-form .create-new a {
    font-family: DIN-BOLD;

}

.nav .hamburger {
    color: #fff;
    background-color: rgba(197, 202, 208, 0.5);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

/*============================================================================================*/
/* End Nav Style */
/*============================================================================================*/

/*============================================================================================*/
/* Start Sidebar Style */
/*============================================================================================*/
.category-site {
    width: 100%;
    background-color: #fff;
    padding: 15px 10px;
    margin-top: 0;
    margin-bottom: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    border-radius: 10px;
}
.main-category{
    width: 100%;
    margin: auto;
    z-index: 999;

}
.list-main-category {
    display: inline-block;
    background-color: #9933cc;
    border-radius: 15px;
    padding: 10px 50px;
    color: #fff;
    position: relative;
    cursor: pointer;
    z-index: 9999;

}
.sub-category{
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    color: #9933cc;
    padding: 10px 30px;
    border-radius: 15px;
    display: none;

}

.list-sub-category{

}

.sub-sub-category{
    position: absolute;

}

.list-sub-sub-category{

}
.content .sidebar {
    background: #fa6131;
    border-radius: 10px 0 0 10px;
    color: #fff;
    padding: 0;
    /*position: sticky;*/
    /*right: 0;*/
    /*z-index: 9999;*/
    transition: all .5s ease-in-out;

}
 .sidebar ul li a .fa-star {
     color: inherit;
 }
.content .sidebar .logo-site-small,
.content .sidebar .logo-site {
    max-width: 80%;
    overflow: hidden;
    margin: auto;
    transition: all 0.5s ease-in-out;

}

.content .sidebar .logo-site-small {

    display: none;
    text-align: center;
}

.content .sidebar .logo-site-small img,
.content .sidebar .logo-site img {
    margin: 20px auto;
    transition: all 0.5s ease-in-out;

    max-width: 100%;

}

.content .sidebar ul {

}

.content .sidebar ul li a {
    display: block;
    padding: 18px 15px;
    font-size: 1em;
    margin-bottom: 6px;
    position: relative;
    white-space: nowrap;
    font-family: 'DIN-BOLD';
    transition: all 0.5s ease-in-out;

}


.content .sidebar ul li a:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    border-radius: 10px;
    display: none;
}

.content .sidebar ul li a:hover,
.content .sidebar ul li a.active {
    background-color: rgb(206, 83, 70);
    /*border-radius: 10px 0 0 10px;*/
    color: #fff;

}

.content .sidebar ul li a:hover:before,
.content .sidebar ul li a.active:before {
    display: block;
}

.content .sidebar ul li a span.icon {
    margin-left: 15px;
    display: inline-block;
}

.content.collapse-content .sidebar {
    background: transparent;
    border-radius: 10px 0 0 10px;
    color: #fff;
    padding: 0;
    /*position: fixed;*/
    /*right: 0;*/
    /*z-index: 9999;*/

}


.content.collapse-content .sidebar ul li a  {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin:20px 20px ;
    transition: all .5s ease-in-out;
}
.content.collapse-content .sidebar  {
}
.content.collapse-content .sidebar ul li a span.icon {
    margin-left: 0 !important;
    display: inline-block;
    font-size: 1.1em;
    color: #948989;

}


.content.collapse-content .sidebar ul li a span.title {
    display: none;
}



.content.collapse-content  .sidebar ul li a:before {
    content: "";
    top: 20%;
    right: 4px;
    height: 62%;
    width: 4px;
    background-color: #fdfeff;
    border-radius: 10px;
    display: none;
}

.content.collapse-content  .sidebar ul li a:hover,
.content.collapse-content  .sidebar ul li a.active {
    background-color: rgb(255, 45, 3);
    border-radius: 10px;
   color: #fff !important;

}.content.collapse-content  .sidebar ul li a:hover span.icon,
.content.collapse-content  .sidebar ul li a.active span.icon {
    border-radius: 10px;
   color: #fff !important;

}

.content.collapse-content  .sidebar ul li a:hover:before,
.content.collapse-content  .sidebar ul li a.active:before {
    display: block;
}


.content.collapse-content .sidebar .logo-site-small {
    display: block;
}

.content.collapse-content .sidebar .logo-site {
    display: none;
}

.content.collapse-content .sidebar {
    flex: 0 0 10%;
    width: 10%;
}


.content.collapse-content .main-content {
    flex: 0 0 90%;
    width: 90%;


}

@media (max-width: 768px){
    .content.collapse-content .sidebar {
        flex: 0 0 15%;
        width: 15%;
        transition: all 0.2s ease-in-out;
    }
    .content.collapse-content .main-content {
        flex: 0 0 85%;
        transition: all 0.2s ease-in-out;

    }
}
/*============================================================================================*/

/* End Sidebar Style */

/*============================================================================================*/


/*============================================================================================*/
/* Start  MAIN-CONTENT Style */
/*============================================================================================*/

.tabs-list {
    display: inline-block;
    margin-bottom: 25px;
}

.tabs-list li {
    margin-left: 25px;
    display: inline-block;
    font-size: 1.1em;
    font-family: DIN-BOLD;
    cursor: pointer;
    position: relative;
    color: #666;
}

.tabs-list li:after {
    position: absolute;
    content: "";
    border-radius: 9px;
    z-index: 999;
    bottom: -3px;
    right: 16%;
    width: 50px;
    height: 4px;
    text-align: center;
    background-color: #E65053;
    display: none;

}

.tabs-list li.active,
.tabs-list li:hover {
    margin-left: 25px;
    padding-bottom: 10px;
    border-bottom: 3px solid;
    color: #E65053;
    font-size: 1.1em;
    font-family: DIN-BOLD;
}

.main-content {
    padding: 0 30px;

}


.general-courses {
    margin-bottom: 20px;
}

.general-courses .general-courses-content {
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    padding: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

.general-courses .general-courses-content:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0,0,0,.3)

}

.general-courses .general-courses-content img {
    width: 100%;
}

.general-courses .general-courses-content span.icon-play-video {
    position: absolute;
    bottom: 40%;
    left: 43%;
    color: #fff;
    background: #9933cc;
    /* padding: 15px; */
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 16px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    z-index: 5;

}

.general-courses .general-courses-content span.icon-play-video:hover {

    background: #9933cc;

}

.general-courses .general-courses-content span.course-title {
    position: absolute;
    bottom: 18px;
    right: 12%;
    padding: 41px;
    left: 49px;
    color: #fff;
    z-index: 5;
    background: rgba(31, 29, 29, 0.42);
    width: 78%;
    border-radius: 34px;
    padding: 11px 24px;
    text-align: center;

}
.general-courses .general-courses-content span.course-rating {
    position: absolute;
    top: 17px;
    right: 39px;
    font-family: DIN-BOLD;
    /* background: rgba(255, 255, 255, 0.96); */
    padding: 5px 17px;
    border-radius: 10px;
    z-index: 5;

}

.general-courses .general-courses-content span.course-duration {
    position: absolute;
    top: 17px;
    left: 39px;
    font-family: DIN-BOLD;
    background: #FC6131;
    padding: 5px 17px;
    border-radius: 10px;
    z-index: 5;
    color: #fff;
}

.top-courses {
    position: relative;
    /*background: #fff;*/
    /*padding: 30px;*/
    /*border-radius: 19px;*/
}

.top-courses .fa-chevron-right,
.top-courses .fa-chevron-left {
    background: #616263;
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
    display: none;
}

.top-courses .fa-chevron-right {
    top: 50%;
    right: -27px;

}

.top-courses .fa-chevron-left {
    top: 50%;

    left: -27px;
}


.top-courses .courses-list > div {
}


.top-courses .courses-list > div:not(:first-child) { /*any one except first*/
    display: none;

}


.top-courses .card .card-body {
    padding: 1rem;
}

.top-courses .card {
    position: relative;
}
.top-courses .card .course-img {
    overflow: hidden;
    position: relative;
    border-radius: 18px;
    cursor: pointer;
    max-height: 140px;
}


.top-courses .card .course-img img {
    width: 100%;
}

/*.top-courses .card .course-img:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    top: 0;*/
/*    left: 0;*/
/*    opacity: 0;*/
/*    background: radial-gradient(circle, rgba(9, 9, 121, 0) 0%, rgba(0, 0, 0, 0.17690826330532217) 100%);*/
/*    transition: all 1s;*/
/*    -webkit-transition: all 1s;*/
/*}*/

/*.top-courses .card .course-img:hover:after {*/
/*    opacity: 1;*/
/*    background: radial-gradient(circle farthest-corner at 2.4% 35.1%, rgba(129, 211, 225, .4) 0%, rgba(239, 145, 236, .4) 90%);*/
/*}*/
.top-courses .card .icon-wishlist {
    position: absolute;
    top: 11px;
    right: 7%;
    color: #fff;
    z-index: 5;
    font-size: 1.4em;
    text-align: center;

}
.top-courses .card .course-title {
    font-size: 1.1em;
    line-height: 1.4;
    color: #9933cc;
    font-family: 'DIN-BOLD';
}

.top-courses .card .course-category {
    font-size: .9em;
    margin: 10px 0;
    color: #6c757d !important;
}

.top-courses .card .course-category span {
    margin: 0 5px;
    color: #6c757d !important;
    font-family: 'DIN-REGULAR';

}

.top-courses .card .course-details {
    font-size: .9em;
    margin: 15px 0;
    color: #6c757d !important;
}

.top-courses .card .course-details .course-lectures {
    text-align: right;
}

.top-courses .card .course-details .course-time {
    float: left;
}

.top-courses .card .cart-rating {
    margin-top: 0px;
}

.top-courses .card .cart-rating .stars-rating {
    display: inline;
    padding: 0;
    margin-left: 6px;
}

.top-courses .card .cart-rating .stars-rating li {
    display: inline;
    list-style: none;
}

.top-courses .card .cart-rating .average-rating {
    margin-left: 4px;
    font-family: DIN-BOLD;
    font-weight: 700;
}

.top-courses .card .cart-rating .total-rating {
    color: #878787;
    font-size: .8em;
    font-family: 'DIN-REGULAR';
}

.top-courses .card .course-footer {
    color: #FC6131;
    padding: 0.65rem 1.0rem;
    border-top: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-courses .card .course-footer .course-price {
    display: inline-block;
}

.top-courses .card .course-footer .show-course {
    display: inline;
}

.top-courses .card .course-footer .show-course i {
    background-color: #792052 !important;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 30%;
}

/* END MAIN-CONTENT*/
/* Start Course Details*/

.video-section {
padding: 10px;

    background-color: #fff;
    border-radius: 10px
}

.video-section .view-video {
    border-radius: 10px;
}
.video-section .view-video video {
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    height: auto;
}
.video-section .video-details{
     padding: 15px;
    position: relative;
    margin: 30px 0;
 }

/*.video-section .video-details:after{*/
/*    margin-top: 30px;*/
/*    position: absolute;*/
/*    content: "";*/
/*    border-radius: 9px;*/
/*    z-index: 0;*/
/*    bottom: 0px;*/
/*    right: 0;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    text-align: center;*/
/*    background-color: #dcdcdc;*/
/*}*/
.video-section .video-details .video-name{
    font-size: 1.6em;
    margin-bottom: 15px;
    color: #636363;
}
.video-section .video-details .teacher-name ,.video-section .university-name{
    margin-top: 10px;
    font-size: 1em;
    color: #b9b2b2;
    padding: 15px;
    font-family: DIN-REGULAR;
}


.video-section .course-details .tabs-list {
    margin-top: 25px;
    display: block;
    position: relative;
}
.video-section .course-details .tabs-list:after {
    position: absolute;
    content: "";
    border-radius: 9px;
    z-index: 0;
    bottom: 0px;
    right: 0;
    width: 100%;
    height: 2px;
    text-align: center;
    background-color: #dcdcdc;
}

.video-section .course-details .tabs-list li {
    margin-right: 30px;
    margin-left: 25px;
    display: inline-block;
    font-size: 1em;
    color: #999999;
    cursor: pointer;
    position: relative;
}


.video-section .course-details .tabs-list li.active,
.video-section .course-details .tabs-list li:hover {
    margin-left: 25px;
    padding-bottom: 10px;
    border-bottom: 3px solid;
    color: #E65053;
    font-size: 1em;
    position: relative;
    z-index: 5;
}
.video-section .course-details .tabs-list li:after {
    position: absolute;
    content: "";
    border-radius: 9px;
    z-index: 999;
    bottom: -3px;
    right: 16%;
    width: 50px;
    height: 4px;
    text-align: center;
    background-color: #E65053;
}

.video-section  .course-details .course-description {
    margin:15px 3px;
    padding: 15px;
}
.video-section  .course-details > div:not(.course-description) {
    display: none;

}

.rating-comments .rating-course {
    background: #9933cc;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;


}
.rating-comments .rating-course span {
    display: block;
    text-align: center;
    font-family: DIN-BOLD;
}


.rating-comments .rating-course span.average-rating {
    font-size: 3em;

}
.rating-comments .rating-course span.number-stars {
    font-size: 1.5em;
}


.rating-comments .progress-rating {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;
    align-items: baseline;
}
.rating-comments .progress-rating .progress-bar {
    width: 50%;
    background: #9933cc;
    border-radius: 13px;
}

.list_rating .row {
    border-radius: 13px;
    padding: 10px;
    margin: 25px;
}

.list_rating .user-img {
    width: 65px;
    height: 65px;
    overflow: hidden;
    border-radius: 27%;
    border: 1px solid #9933cc;
    margin: auto;
    background: #fff;

}
.list_rating .user-img img {
    width: 100%;
}

.list_rating .rating-info {
    background-color: #F4F7F6;
    border-radius: 15px;
    padding: 17px;
}
.list_rating .user-info{
    display: flex;
    justify-content: space-between;

}
.list_rating .user-name {
    font-size: 1.3em;
    color: #a159c5;
}
.list_rating  .rating-date {
    font-family: DIN-BOLD;
    font-size: .8em;
}

.list_rating  .comment{
    font-size: 1em;
    margin-top: 5px;
    font-family: DIN-REGULAR;
}


.rating-input-container {

}
.rating-input-container .user-img {
    width: 65px;
    height: 65px;
    overflow: hidden;
    border-radius: 27%;
    border: 1px solid #9933cc;
    margin: auto;
    background: #fff;
}
.rating-input-container .user-img img {
    width: 100%;

}
.rating-input-container .user-rating #add_rating{
    padding: 12px;
    border: none;
    border-radius: 12px;
    width: 100%;
    color: #fff;
    background: #9933cc;
}
.course-chapters {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    color: #999;
}

.course-chapters .course-name {
    margin-top: 15px;
    margin-bottom: 25px ;
    padding: 0px;
    color: #9933cc;
}
.course-chapters .course-name h6{
    font-size: 1.4em;

}

.course-chapters .chapter-head {
    margin: 21px 5px 32px 5px;
}
.course-chapters .chapter-head span i {
    color: #ec5525;
    font-size: 1em;
    margin-left: 5px;
}
.course-chapters .chapter-head span:first-child{
    color: #ec5525;
    font-size: 1.1em;
}
.course-chapters .chapter-head span:not(:first-child){
    float: left;
    border: 1px solid rgba(0,0,0,.1);
    padding: 7px 15px;
    border-radius: 8px;
}
.course-chapters .num {
    background: #9933cc;
    color: #fff;
    padding: 9px 17px;
    border-radius: 10px;
    margin-left: 19px;
    font-size: 1em;
}

.course-chapters .chapter_name {
    margin-left: 35px
}

.course-chapters .chapter_number_lessons, .course-chapters .chapter_duration {
    float: left;
    margin: 0 5px;
    font-weight: 400;
    font-family: DIN-REGULAR;

}

.course-chapters .chapter-detail .show-video i {
    background: #ec5525;
    height: 17px;
    width: 33px;
    height: 33px;
    font-size: .9em;
    line-height: 33px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
}
.course-chapters .list-chapters .chapter-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #f6f6f6;
    background-color: #F9F9F9;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
.course-chapters .list-chapters .chapter-detail .chapter_name  {
    display: block;
}
.course-chapters .list-chapters .chapter-detail .chapter_number_lessons , .chapter_duration {

}


.course-chapters ul.list-lessons {
    margin-top: 15px;
    display: none;
}

.course-chapters  ul.list-lessons li span i {
    margin-left: 10px;
}
.course-chapters  ul.list-lessons li {
    display: flex;
    justify-content: space-between;
    background-color: #fbfbfb;
    margin: 10px 15px 0 0 ;
    padding: 8px 17px;
    border-radius: 10px;


}
.course-chapters  ul.list-lessons li .video-name{


}
.course-chapters  ul.list-lessons li .video-duration{
}



/* End Course Details*/

/* Start Course Review*/
.course-review{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    color: #999;
    text-align: center;
    /*border-top: 10px solid #ec5525;*/
    border-bottom: 10px solid #ec5525;
}


.course-review .img-course{
    width: 100%;
    max-height: 170px;
    overflow: hidden;
    border-radius: 10px;
}
.course-review .img-course img{
   width: 100%;
}
.course-review .course-name{
    margin: 19px 0;
    font-size: 1.7em !important;
    color: #555;
}

.course-review .course-price{
    text-align: left;
}
.course-review button , .course-review .buy-course{
    background: transparent;
    border: 2px solid #9933cc;
    padding: 7px 30px;
    border-radius: 9px;
    color: #9933cc;
    display: block;
    margin: 15px 0;
    width: 100%;
    font-family: DIN-MEDIUM;
}

.course-review button:hover ,.course-review .buy-course:hover,
.course-review button.active{
    background-color:#9933cc ;
    color: #fff;
}
/* End Course Review*/



.rate {
    border: #e9e9e9 1px solid ;
    border-bottom: 0;
    background-color: #f6f6f6;
    margin: 0 auto;
    padding: 10px  15px;
    border-radius: 10px 10px 0 0;
}

.rate .rate-btn {
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
}

.rate .rate-btn:hover, .rate .rate-btn-hover, .rate .rate-btn-active {
    color: #ffb400;
}
.fa-star{
    color: #ddd;
}

i.rating-done {
    color: #ffb400;
}

.average-rating {
    color: #ffb400;
}
/*start profile style*/

#profile{

    margin-bottom: 6%;
}
#profileCard{
    border-radius: 10px;

}
#camera_icon{
    position: absolute;
    top: 136px;
    margin-right: -8px;
    font-size: 26px;
    color:#816091;

}
#btnProfile{
    border-radius: 10px
;background-color: #9933cc;
    color:white;
    padding: 10px !important;

}
#btnProfile:hover{
    background-color: #9a62cc;
}
#profilefprm .form-control  {

    font-size: .95em;
    text-align: right;
    color: #9a9a9a;


}
#profilefprm ::placeholder {

    font-size: .95em;
    text-align: right;
    color: #9a9a9a;


}

#camera_icon{
    position: absolute;
    top: 114px;

    margin-right: -8px;
    font-size: 26px;
    color:#816091;


}
#image_user{
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;

}

.intro {
    position: relative;
    height: 65%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background-image: linear-gradient(35deg, #4f656f, #807f7e);
}
.intro img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 1;
    mix-blend-mode: multiply;
}

.intro .caption {
    position: absolute;
    bottom: 25%;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 3;
    color: white;
}
.intro .caption h1 {
    display: inline-block;
    width: 70%;
    font-size: 3vw;
    font-weight: 100;
    color: white;
    font-weight: bolder;
}

.intro .overlay {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}
.intro .overlay svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.copy {
    width: 100%;
    max-width: 60rem;
    height: 200%;
    margin: 0 auto;
    padding: 10vw 5vw 0 5vw;
    color: #476d80;
    font-weight: 300;
}
.copy p {
    margin-bottom: 1.5rem;
}

.copy .teaser {
    font-size: 1.6rem;
    text-align: center;
}
figure {
    margin: 0 0 0rem !important;

}
.probtn{
    margin-bottom: 5%;
    font-size: 14px;
    padding: 8px 10px;
}
.btn-warning{
    background: white;
    border-color: black;
}
.btn-warning:hover {
    color: #212529;
    background-color: #e9ecef !important;
    border-color: #151617!important;
}
.imgedit {
    position: absolute;
    margin-top: 5%;
    /* margin-left: 67%; */
    font-size: 215%;
    color: #585757;
    margin-right: -14%;
}
.file-upload{
    display: none;
}


#img{
    /*position: absolute;*/
    /*top: -94px;*/
    /*align-items: center;*/
    /*right: 43%;*/
    /*border: 4px solid #FFFFFF;*/
}
.form-profile{
    background: white;
    width: 90%;
    /* margin-left: -49%; */
    /* margin-left: -38%; */
    margin-right: 5%;
}
/*end profile style*/

label{
    float: right !important;

    margin-bottom: 10px;
}
/*start contact style*/

.input100 {
    outline: none;
    border: none;
}

.input100 textarea {
    outline: none;
    border: none;
}

.input100 textarea:focus, .input100:focus {
    border-color: transparent !important;
}

.input100:focus::-webkit-input-placeholder { color:transparent; }
.input100:focus:-moz-placeholder { color:transparent; }
.input100:focus::-moz-placeholder { color:transparent; }
.input100:focus:-ms-input-placeholder { color:transparent; }

.input100 textarea:focus::-webkit-input-placeholder { color:transparent; }
.input100 textarea:focus:-moz-placeholder { color:transparent; }
.input100 textarea:focus::-moz-placeholder { color:transparent; }
.input100 textarea:focus:-ms-input-placeholder { color:transparent; }

.input100::-webkit-input-placeholder { color: #adadad;}
.input100:-moz-placeholder { color: #adadad;}
.input100::-moz-placeholder { color: #adadad;}
.input100:-ms-input-placeholder { color: #adadad;}

.input100 textarea::-webkit-input-placeholder { color: #adadad;}
.input100 textarea:-moz-placeholder { color: #adadad;}
.input100 textarea::-moz-placeholder { color: #adadad;}
.input100 textarea:-ms-input-placeholder { color: #adadad;}



/*---------------------------------------------*/
.contact100-form-btn {
    outline: none !important;
    border: none;
    background: transparent;
}

.contact100-form-btn:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ utility ]*/




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

/*==================================================================
[ Background ]*/
.bg-container-contact100 {
    width: 100%;
    height: 100% ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.bg-container-contact100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -11;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(41,44,51,0.6);
    pointer-events: none;
}

/*---------------------------------------------*/
.contact100-header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: 10px 35px;
}

.contact100-header-logo img {
    max-height: 23px;
}

.btn-show-contact100 {

    font-size: 12px;
    color: #9933cc;
    text-transform: uppercase;
    letter-spacing: 1px;

    display: block;
    min-width: 160px;
    height: 42px;
    background-color: #fff;
    border-radius: 21px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-show-contact100:hover {
    color: #fff;
    background-color: #9933cc;
}



/*==================================================================
[ Content container ]*/
.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

    position: relative;
    z-index: 10;
}

.wrap-contact100 {
    width: 560px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    margin-top: 70px;
}

/*==================================================================
[ Title form ]*/
.contact100-form-title {
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    width: 100%;
    min-height: 128px;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
background-color: #9376DA;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
border-radius: 10px;
    padding: 30px 15px 30px 15px;
}

.contact100-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(67,67,67,0.6);
}


/*==================================================================
[ Form ]*/

.contact100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 55px 48px 55px;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    margin-bottom: 15px
}

.label-input100 {
    font-size: 18px;
    color: #999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0;
    left: 2px;
}

.label-input100.rs1 {
    height: 60px;
}

.input100 {
    display: block;
    width: 100%;
    background: transparent;

    font-size: 15px;
    color: #333333;
    line-height: 1.2;
    padding: 0 25px 0 60px;
}

input.input100 {
    height: 55px;
}

textarea.input100 {
    min-height: 162px;
    padding-top: 22px;
    padding-bottom: 15px;
}

/*---------------------------------------------*/

.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid;
    border-radius: 2px;
    border-color: #9933cc;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
    visibility: visible;
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.input100:focus + .focus-input100 + .label-input100 {
    color: #9933cc;
}



/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 17px;
}

.contact100-form-btn {

    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    border-radius:18px;
    background: #9933cc;

    box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact100-form-btn:hover {
    background: #9933cc;
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}



/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .contact100-form {
        padding: 40px 15px 48px 15px;
    }

    .input100 {
        padding: 0 25px 0 40px;
    }

    .label-input100 {
        width: 40px;
    }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate .focus-input100 {
    box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
    -moz-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
    -webkit-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
    -o-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
    -ms-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
}

.alert-validate::before {
    content: "";
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-color: transparent;
    border: 1px solid #fa4251;
    border-radius: 2px;
    top: -1px;
    left: -1px;
    pointer-events: none;
}

.btn-hide-validate {

    font-size: 18px;
    color: #fa4251;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    top: 0px;
    right: -25px;
}

.rs1-alert-validate.alert-validate::before {
    background-color: #fff;
}

.true-validate::after {
    content: "\f26b";

    font-size: 18px;
    color: #00ad5f;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    top: 0px;
    right: -25px;
}

/*---------------------------------------------*/
@media (max-width: 576px) {
    .btn-hide-validate {
        right: 10px;
    }
    .true-validate::after {
        right: 10px;
    }
}


/*//////////////////////////////////////////////////////////////////
[ Button show / hide ]*/
.btn-hide-contact100 {
    font-size: 30px;
    color: #fff;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: -44px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-hide-contact100:hover {
    opacity: 1;
}
/*end contact style*/
/*start about us style*/

.about-us {
    background: #fff;
    padding: 25px;
    border-radius: 23px;
    margin-top: 69px;
    min-height: 500px;



}
.about-us div{
    margin: auto;
}
.about-us .about-img {

background: #9933cc;
    width: 100%;
    overflow: hidden;
    height: 300px;
    margin: auto;
    border-radius: 20px;

}

.about-us .about-img .logo {

    text-align: center;
    margin-top: 80px;


}


.about-us .img-logo img{
}

.about-us .aboutUS-text {

}
.about-us .aboutUS-text span:first-child {
    font-size: 2em;
    display: block;
    margin-bottom: 15px;
    color: #fa6131;
}

.about-us .aboutUS-text span:last-child {
   font-size: 1.1em;
    text-align: justify;
    line-height: 2;
}
/*end about us style*/

