

.intro {
  position: relative;
  height: 65%;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  background-image: linear-gradient(35deg, #4f656f, #807f7e);
}
.intro img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  z-index: 1;
  mix-blend-mode: multiply;
}

.intro .caption {
  position: absolute;
  bottom: 25%;
  top: 30%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 3;
  color: white;
}
.intro .caption h1 {
  display: inline-block;
  width: 70%;
  font-size: 3vw;
  font-weight: 100;
  color: white;
  font-weight: bolder;
}

.intro .overlay {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}
.intro .overlay svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.copy {
  width: 100%;
  max-width: 60rem;
  height: 200%;
  margin: 0 auto;
  padding: 10vw 5vw 0 5vw;
  color: #476d80;
  font-weight: 300;
}
.copy p {
  margin-bottom: 1.5rem;
}

.copy .teaser {
  font-size: 1.6rem;
  text-align: center;
}
figure {
  margin: 0 0 0rem !important;

}
.probtn{
  margin-bottom: 5%;
  font-size: 14px;
  padding: 8px 10px;
}
.btn-warning{
  background: white;
  border-color: black;
}
.btn-warning:hover {
  color: #212529;
  background-color: #e9ecef !important;
  border-color: #151617!important;
}
.imgedit {
  position: absolute;
  margin-top: 5%;
  /* margin-left: 67%; */
  font-size: 215%;
  color: #585757;
  margin-right: -14%;
}
.file-upload{
  display: none;
}


#img{
  /*position: absolute;*/
  /*top: -94px;*/
  /*align-items: center;*/
  /*right: 43%;*/
  /*border: 4px solid #FFFFFF;*/
}
.form-profile{
  background: white;
  width: 90%;
  /* margin-left: -49%; */
  /* margin-left: -38%; */
  margin-right: 5%;
}